@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.svg#MuseoSansCyrl-500Italic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.svg#MuseoSansCyrl-900") format("svg");
  font-weight: 900;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0 auto;
  font-family: 'MuseoSansCyrl', sans-serif;
  font-weight: normal;
  font-size: 21px;
  font-weight: 300;
  color: #000; }

h1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 700; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px;
  font-weight: bold; }

a {
  color: #000;
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none;
    outline: none; }
  a:active {
    outline: none;
    text-decoration: none; }
  a:focus {
    outline: none;
    text-decoration: none; }

strong {
  font-weight: 800; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 21px; }

.text-center {
  text-align: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.page-wrap {
  width: 100%;
  height: 100%; }

.container {
  max-width: 768px;
  padding: 0 30px;
  margin: 0 auto; }

.justify-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 768px;
  margin: 0 auto;
  padding: 30px 0;
  min-height: 100vh;
  background: url(../img/home-bg.jpg);
  -webkit-background-size: cover;
          background-size: cover; }
  .home img {
    width: 40%; }

.btn {
  display: inline-block;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 25px;
  font-weight: 300;
  color: #000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 15px 30px;
  background: #fff;
  text-align: center; }

.btn-red {
  background: #DC243E;
  color: #fff; }
  .btn-red:active, .btn-red:focus {
    color: #fff; }

.btn-green {
  background: #879758;
  color: #fff; }
  .btn-green:active, .btn-green:focus {
    color: #fff; }

.btn-grey {
  width: 100%;
  height: 86px;
  line-height: 84px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 36px;
  padding: 0;
  text-align: center;
  background: #E2E3E7;
  color: #000; }

.home-btn {
  width: 70%;
  margin: 0 auto;
  padding-top: 10vh; }
  .home-btn .btn {
    display: block;
    margin-bottom: 20px; }

.modal-wrap {
  position: absolute;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.57);
  z-index: 100; }
  .modal-wrap.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.modal {
  position: relative;
  padding: 82px 20px 30px;
  width: 80%;
  max-width: 650px;
  margin: auto;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  z-index: 110;
  background: url(../img/modal-bg.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  background-color: #fff; }

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  font-size: 40px;
  font-family: sans-serif;
  color: #2B4854;
  font-weight: 300;
  border: 2px solid #2B4854;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  outline: none; }
  .modal-close:active, .modal-close:focus {
    outline: none; }
  .modal-close span {
    position: absolute;
    left: 0;
    right: 0; }

.modal-body {
  width: 100%;
  text-align: center; }
  .modal-body img {
    display: block;
    margin: 0 auto 30px; }

.red-title {
  display: block;
  margin-bottom: 60px;
  text-align: center;
  font-size: 37px;
  font-weight: 700; }
  .red-title span {
    position: relative;
    padding: 15px 35px;
    background: #DC243E;
    color: #fff; }
    .red-title span + br + span {
      top: 15px; }

.footnote {
  font-size: 18px;
  text-align: center; }

header {
  position: relative;
  height: 86px;
  padding: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2F1340; }
  header .logo {
    max-width: 37px; }

.header-city__box {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2F1340;
  z-index: 100; }
  .header-city__box.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.btn-back {
  border: none;
  outline: none;
  background-color: transparent; }
  .btn-back img {
    max-width: 29px; }

.header-city__curent {
  position: relative;
  display: block;
  padding: 0 15px 0 0;
  font-size: 26px;
  color: #fff; }
  .header-city__curent::before {
    content: "";
    position: absolute;
    right: 0;
    top: 14px;
    width: 9px;
    height: 7px;
    background: url(../img/arrow-down-ic.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }

.header-city__list {
  position: absolute;
  top: 86px;
  left: 0;
  right: 0;
  padding-top: 25px;
  list-style: none;
  background: #fff;
  z-index: 100; }
  .header-city__list li {
    padding: 0 40px; }
    .header-city__list li a {
      position: relative;
      display: block;
      font-size: 36px;
      color: #000;
      padding: 25px 0 25px 40px; }
      .header-city__list li a::before {
        content: '';
        position: absolute;
        left: 0;
        top: 45%;
        width: 10px;
        height: 10px;
        background: #DC243E;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
    .header-city__list li.active {
      background: #F5F8FB; }

.search-form {
  position: relative;
  width: 70%; }
  .search-form input {
    width: 100%;
    padding: 0 60px 0 40px;
    height: 48px;
    background: #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    border: none;
    outline: none;
    font-size: 25px;
    color: #000; }
  .search-form button {
    position: absolute;
    right: 20px;
    top: 5px;
    border: none;
    outline: none;
    background-color: transparent; }
    .search-form button img {
      max-width: 31px; }

.header-close {
  border: none;
  outline: none;
  background-color: transparent; }
  .header-close img {
    max-width: 35px; }

.promocode-btn {
  display: inline-block;
  width: 255px;
  height: 48px;
  line-height: 46px;
  text-align: center;
  background: #fff;
  font-size: 26px;
  color: #000;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

.header-tel {
  display: inline-block;
  max-width: 42px; }

.promocode-box {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2F1340;
  z-index: 100; }
  .promocode-box.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .promocode-box input {
    width: 250px;
    padding: 0 10px;
    height: 48px;
    background: #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 25px;
    color: #000; }

.icon-check {
  position: absolute;
  right: 140px;
  top: 24px;
  width: 44px;
  height: 36px;
  background: url(../img/check-ic.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.content {
  margin: 0 auto;
  max-width: 768px; }

.slick-slide {
  outline: none; }

.top-slider {
  max-width: 768px;
  margin: 0 auto; }

.menu-rolls {
  padding: 10px 0;
  list-style: none;
  text-align: center;
  background: #f5f8fb; }
  .menu-rolls li {
    display: inline-block;
    margin: 0 28px; }
    .menu-rolls li a {
      display: block;
      padding: 5px 0;
      font-size: 26px;
      color: #000; }
    .menu-rolls li.active a {
      border-bottom: 3px solid #DC243E; }

.product-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  padding: 20px 0; }
  .product-item:nth-child(even) {
    background: #f5f8fb; }

.product-item__img {
  position: relative;
  width: 50%;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .product-item__img img {
    display: inline-block; }

.product-like {
  position: absolute;
  top: 0;
  right: 15px;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e2e3e7;
  font-size: 17px;
  font-weight: 700;
  color: #fff; }
  .product-like::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 30px;
    background: url(../img/like-ic.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
  .product-like.active {
    background: #879758; }

.product-item__info {
  width: 50%;
  padding: 0 15px; }

.product-item__name {
  min-height: 80px;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700; }

.plus-minus {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .plus-minus button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #e9eaed;
    vertical-align: middle;
    border: none;
    outline: none; }
    .plus-minus button span {
      font-size: 26px; }
    .plus-minus button:active {
      color: #fff;
      background: #879758; }

.plus-minus__count {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
  font-size: 25px; }

.product-item__weight {
  font-size: 26px; }

.product-item__info .btn {
  padding: 11px 0;
  width: 190px;
  font-size: 28px;
  font-weight: 700; }

.product-item__info .plus-minus__count {
  margin-bottom: 25px; }

.product-item__info .justify-align {
  max-width: 290px; }

.rolls-gift {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90px;
  background: #20373f; }

.rolls-gift__title {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 700;
  color: #fff; }

.rolls-gift__runner {
  position: relative;
  width: 60%; }

.rolls-gift__price {
  position: absolute;
  top: 28px;
  width: 91px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 100;
  text-align: center; }
  .rolls-gift__price span {
    position: relative;
    display: inline-block;
    padding: 5px 8px;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    background: #fff;
    font-size: 21px;
    z-index: 10; }
  .rolls-gift__price::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    width: 100%;
    height: 7px;
    background: #fff; }

.rolls-gift__fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: #DC243E; }

.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }
  .main-menu li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 104px; }
    .main-menu li a {
      position: relative;
      display: block;
      padding: 0 30px;
      font-size: 26px;
      text-transform: uppercase; }
    .main-menu li.active {
      background: #e2e3e7; }
      .main-menu li.active a::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 70%;
        bottom: -6px;
        height: 2px;
        background: #DC243E; }

.product-cart {
  padding: 30px  0 0; }

.product-cart__img {
  position: relative;
  padding: 0 50px 140px;
  text-align: center; }
  .product-cart__img .back-btn {
    position: absolute;
    left: 50px;
    top: 0;
    width: 29px; }
  .product-cart__img .product-like {
    right: 50px; }

.my-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 218px;
  height: 133px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f8fb;
  -webkit-border-radius: 40px 0 0 40px;
          border-radius: 40px 0 0 40px; }
  .my-cart img {
    max-width: 81px; }
  .my-cart span {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 46px;
    height: 46px;
    font-weight: 700;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #DC243E;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 17px;
    color: #fff; }

.product-cart__info {
  padding: 0 50px; }
  .product-cart__info p {
    margin-bottom: 20px; }
  .product-cart__info .plus-minus {
    margin-bottom: 25px; }

.additives {
  margin-bottom: 30px; }

.additives-item {
  padding: 10px;
  margin-bottom: 12px;
  background: #E9EAED;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .additives-item:last-child {
    margin-bottom: 0; }
  .additives-item button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #DC243E;
    vertical-align: middle;
    border: none;
    outline: none; }
    .additives-item button span {
      font-size: 34px;
      color: #fff; }
  .additives-item .btn {
    width: 130px;
    padding: 0;
    height: 50px;
    line-height: 50px;
    font-weight: bold; }
  .additives-item > span {
    width: 68%;
    font-size: 26px; }

.product-cart__total {
  margin-bottom: 30px;
  text-align: right; }
  .product-cart__total > span {
    display: inline-block;
    padding: 0 20px 0 0;
    vertical-align: middle;
    font-size: 26px; }
  .product-cart__total .btn {
    width: 215px;
    height: 72px;
    line-height: 70px;
    font-size: 28px;
    font-weight: bold;
    padding: 0; }

.header-current > a {
  max-width: 29px;
  display: inline-block;
  vertical-align: middle; }
  .header-current > a img {
    display: block; }

.header-current > span {
  display: inline-block;
  padding: 0 0 0 20px;
  vertical-align: middle;
  font-size: 35px;
  color: #fff; }

.header-current + .promocode .promocode-btn {
  position: relative;
  left: 30px; }

.cart-item__wrap {
  padding: 0 50px 30px; }

.cart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 0;
  border-bottom: 3px solid #F5F8FB; }
  .cart-item:last-child {
    border-bottom: none; }

.cart-item__img {
  width: 30%;
  text-align: center; }

.cart-item__info {
  position: relative;
  width: 70%;
  padding: 0 0 0 30px; }

.cart-item__name {
  padding: 0 40px 0 0;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 700; }

.cart-item__remove {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 40px;
  font-family: sans-serif;
  color: #879758;
  font-weight: 300;
  border: 2px solid #879758;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  outline: none; }
  .cart-item__remove:active, .cart-item__remove:focus {
    outline: none; }
  .cart-item__remove span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0; }

.cart-item__count .plus-minus button {
  width: 45px;
  height: 45px; }
  .cart-item__count .plus-minus button span {
    font-size: 38px; }
  .cart-item__count .plus-minus button:last-of-type span {
    position: relative;
    top: -2px; }

.cart-item__count .plus-minus__count {
  font-size: 36px; }

.cart-item__price {
  position: relative;
  margin: 0 0 0 30px;
  font-size: 36px; }
  .cart-item__price::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    background: #EFF0F2; }

.cart .container {
  padding: 0 50px; }

.cart .additives {
  margin-bottom: 50px; }

.radio-box {
  padding-bottom: 30px; }
  .radio-box h2 {
    margin-bottom: 40px; }

.radio-list {
  list-style: none; }
  .radio-list li {
    margin: 0 0 25px; }
  .radio-list [type="radio"]:checked, .radio-list [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
    position: relative;
    margin: 0;
    padding: 0 0 0 60px;
    cursor: pointer;
    font-size: 26px; }
  .radio-list [type="radio"]:checked + label:before, .radio-list [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    width: 43px;
    height: 43px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #E9EEF3; }
  .radio-list [type="radio"]:checked + label:after {
    content: '';
    width: 29px;
    height: 29px;
    background: #DC243E;
    position: absolute;
    top: 0;
    left: 7px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .radio-list [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1); }

.cart-total {
  padding: 40px 50px;
  text-align: right;
  border-top: 3px solid #2F1340; }
  .cart-total span {
    font-size: 36px; }
  .cart-total strong {
    font-size: 36px;
    font-weight: 700;
    color: #DC243E; }

.footer-btn__wrap {
  padding: 35px 50px;
  background: #F5F8FB; }
  .footer-btn__wrap .btn {
    width: 100%;
    padding: 0;
    height: 87px;
    line-height: 85px;
    font-size: 36px;
    -webkit-border-radius: 8px;
            border-radius: 8px; }

.payment {
  padding: 60px 0 0; }
  .payment .container {
    padding: 0 50px; }
  .payment h3 {
    margin-bottom: 50px; }
  .payment .btn-grey {
    display: block;
    margin-top: 50px; }

.card {
  padding: 60px 0 0; }
  .card .container {
    padding: 0 50px; }
  .card p {
    margin-bottom: 50px;
    text-align: center; }

.form-input {
  width: 100%;
  height: 70px;
  line-height: 70px;
  margin-bottom: 60px;
  font-size: 36px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #E4E5E9; }
  .form-input:focus {
    outline: none; }

.save-card {
  margin-bottom: 60px; }
  .save-card > span {
    font-size: 36px; }

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 54px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }

.switch-toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-border-radius: 50px;
          border-radius: 50px; }
  .switch-toggler:before {
    position: absolute;
    content: "";
    height: 48px;
    width: 48px;
    left: 5px;
    bottom: 3px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

input:checked + .switch-toggler {
  background-color: #879758; }

input:not(:checked)::before {
  left: 10px; }

input:checked + .switch-toggler:before {
  -webkit-transform: translateX(43px);
      -ms-transform: translateX(43px);
          transform: translateX(43px); }

.card-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0 70px; }
  .card-img img {
    display: inline-block;
    margin: 0 20px; }

.delivery {
  padding: 60px 0 0; }

.tabs-nav {
  margin-bottom: 50px;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .tabs-nav li {
    width: 50%;
    display: inline-block; }
    .tabs-nav li a {
      position: relative;
      display: block;
      padding: 0 0 15px;
      font-size: 36px;
      text-transform: uppercase; }
      .tabs-nav li a.active {
        color: #404040; }
        .tabs-nav li a.active::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          background: #DC243E; }

.tabs-items {
  padding: 0 50px; }

.tabs-item {
  display: none; }
  .tabs-item.active {
    display: block; }

.delivery-form h3 {
  margin-bottom: 15px; }

.time-ic {
  position: relative;
  padding: 0 0 0 65px;
  font-size: 26px; }
  .time-ic::before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    width: 44px;
    height: 44px;
    background: url(../img/clock-ic.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }

.select-box__wrap {
  position: relative;
  height: 96px; }

.select-box {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: -50px;
  left: -50px;
  padding: 0 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(52%, #f6f6f6), to(#ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 52%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 52%, #ededed 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 52%, #ededed 100%); }
  .select-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0; }
  .select-box::after {
    content: '';
    position: absolute;
    right: 50px;
    top: 40px;
    width: 33px;
    height: 18px;
    background: url(../img/arrow-bottom.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .select-box select {
    position: absolute;
    padding: 0 0 0 50px;
    left: 0;
    right: 0;
    width: 120%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 36px; }

.pickup-form .radio-list {
  margin: 30px 0; }

.pickup-form .btn-grey {
  padding: 0 70px;
  width: auto;
  margin-bottom: 50px; }

.time-box {
  margin: 50px 0 50px; }

.time-item {
  width: 100px;
  margin-right: 20px; }

.time-item__wrap {
  padding: 15px 0 0 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.time-item__number {
  font-size: 36px; }

.time-item__btn {
  width: 40px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .time-item__btn button {
    width: 100%;
    height: 29px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #e9eef3;
    border: none;
    outline: none; }
    .time-item__btn button img {
      width: 14px;
      display: block; }

.order-details {
  padding: 50px 50px 0; }
  .order-details h3 {
    margin-bottom: 20px; }
  .order-details .form-input {
    height: 60px; }
  .order-details textarea.form-input {
    height: 180px; }

textarea.form-input {
  padding: 5px 10px;
  margin-bottom: 40px;
  height: 180px;
  border: 3px solid #E4E5E9;
  font-size: 20px; }

*::-webkit-input-placeholder {
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

.form *::-webkit-input-placeholder {
  color: #a2a2a2;
  font-size: 36px; }

.form *:-moz-placeholder {
  color: #a2a2a2;
  font-size: 36px; }

.form *::-moz-placeholder {
  color: #a2a2a2;
  font-size: 36px; }

.form *:-ms-input-placeholder {
  color: #a2a2a2;
  font-size: 36px; }

.card-form *::-webkit-input-placeholder {
  color: #000; }

.card-form *:-moz-placeholder {
  color: #000; }

.card-form *::-moz-placeholder {
  color: #000; }

.card-form *:-ms-input-placeholder {
  color: #000; }

@media only screen and (max-width: 550px) {
  .btn {
    font-size: 18px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 10px 30px;
    margin-bottom: 20px; }
  .modal {
    width: 90%;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
  .red-title {
    font-size: 18px; }
    .red-title span {
      padding: 8px 20px; }
      .red-title span + br + span {
        top: 8px; }
  .footnote {
    font-size: 16px; } }
